<div
  class="content mat-drawer-container"
  role="main"
  fxLayout="row wrap"
  gdColumns="repeat(auto-fill, minmax(350px, 1fr))"
  gdGap="10px"
  style="padding: 10px"
>
  <!-- Highlight Card -->

  <!-- Resources -->

  <!-- Next Steps -->

  <input type="hidden" #selection />
  <mat-card>
    <mat-card-title>Welcome to the Alpha</mat-card-title>
    <mat-card-content
      ><p>Greetings Guardians,</p>
      <p>
        The site has been rebuilt from the ground up, but we have a ways to go to a full release. We're missing old features, we've got new
        bugs. You can report issues and track progress, as well as Sponsor the site, on Github.
      </p>
      <p>Be sure to link your Twitch account to your Bungie account if you want other Guardians to be able to find your VODs.</p>
      <p>Login with both Bungie and Twitch to make the magic happen.</p></mat-card-content
    >
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="loginBungie()" *ngIf="!authState.bungie">Bungie Login</button>
      <button mat-button (click)="logoutBungie()" *ngIf="authState.bungie">Bungie Logout</button>
      <button mat-raised-button color="primary" (click)="loginTwitch()" *ngIf="!authState.twitch">Twitch Login</button>
      <button mat-button (click)="logoutTwitch()" *ngIf="authState.twitch">Twitch Logout</button>
      <a mat-raised-button color="accent" href="https://twitch.amazon.com/tp/oauth/start/bungie" target="_blank">Link Accounts</a>
      <a mat-raised-button color="accent" href="https://github.com/GuardianTheater/guardian-theater-indexeddb/issues" target="_blank"
        >Issues</a
      >
      <a mat-raised-button color="accent" target="_blank" href="https://github.com/sponsors/chrisfried">Sponsor</a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Queues</mat-card-title>
    <mat-card-content>
      <div>
        <div>
          Bungie - getMembershipDataForCurrentUser -
          {{ queueCount.bungie.getMembershipDataForCurrentUser.completed + queueCount.bungie.getMembershipDataForCurrentUser.errors }} /
          {{ queueCount.bungie.getMembershipDataForCurrentUser.queued }}
          <mat-progress-bar
            mode="determinate"
            [value]="queueCount.bungie.getMembershipDataForCurrentUser.percentage"
            [color]="authState.bungie ? queueCount.bungie.getMembershipDataForCurrentUser.color : 'warn'"
          ></mat-progress-bar>
        </div>
        <div>
          Bungie - getMembershipDataById -
          {{ queueCount.bungie.getMembershipDataById.completed + queueCount.bungie.getMembershipDataById.errors }} /
          {{ queueCount.bungie.getMembershipDataById.queued }}
          <mat-progress-bar
            mode="determinate"
            [value]="queueCount.bungie.getMembershipDataById.percentage"
            [color]="authState.bungie ? queueCount.bungie.getMembershipDataById.color : 'warn'"
          ></mat-progress-bar>
        </div>
        <div>
          Bungie - getProfile - {{ queueCount.bungie.getProfile.completed + queueCount.bungie.getProfile.errors }} /
          {{ queueCount.bungie.getProfile.queued }}
          <mat-progress-bar
            mode="determinate"
            [value]="queueCount.bungie.getProfile.percentage"
            [color]="authState.bungie ? queueCount.bungie.getProfile.color : 'warn'"
          ></mat-progress-bar>
        </div>
        <div>
          Bungie - getActivityHistory -
          {{ queueCount.bungie.getActivityHistory.completed + queueCount.bungie.getActivityHistory.errors }} /
          {{ queueCount.bungie.getActivityHistory.queued }}
          <mat-progress-bar
            mode="determinate"
            [value]="queueCount.bungie.getActivityHistory.percentage"
            [color]="authState.bungie ? queueCount.bungie.getActivityHistory.color : 'warn'"
          ></mat-progress-bar>
        </div>
        <div>
          Bungie - getPostGameCarnageReport -
          {{ queueCount.bungie.getPostGameCarnageReport.completed + queueCount.bungie.getPostGameCarnageReport.errors }} /
          {{ queueCount.bungie.getPostGameCarnageReport.queued }}
          <mat-progress-bar
            mode="determinate"
            [value]="queueCount.bungie.getPostGameCarnageReport.percentage"
            [color]="authState.bungie ? queueCount.bungie.getPostGameCarnageReport.color : 'warn'"
          ></mat-progress-bar>
        </div>
        <div>
          Twitch - getVideos - {{ queueCount.twitch.getVideos.completed + queueCount.twitch.getVideos.errors }} /
          {{ queueCount.twitch.getVideos.queued }}
          <mat-progress-bar
            mode="determinate"
            [value]="queueCount.twitch.getVideos.percentage"
            [color]="authState.twitch ? queueCount.twitch.getVideos.color : 'warn'"
          ></mat-progress-bar>
        </div>
        <div>
          Twitch - getUsers - {{ queueCount.twitch.getUsers.completed + queueCount.twitch.getUsers.errors }} /
          {{ queueCount.twitch.getUsers.queued }}
          <mat-progress-bar
            mode="determinate"
            [value]="queueCount.twitch.getUsers.percentage"
            [color]="authState.twitch ? queueCount.twitch.getUsers.color : 'warn'"
          ></mat-progress-bar>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <ng-container *ngFor="let instance of instances">
    <ng-container *ngIf="(instance.twitchClips | async)?.length">
      <ng-container *ngFor="let entry of instance?.entries">
        <ng-container *ngFor="let video of entry.twitchClips | async">
          <mat-card>
            <mat-card-header>
              <img
                *ngIf="instance?.activityDetails?.directorActivityHash | manifest: 'activityIcon' | async"
                mat-card-avatar
                [src]="instance?.activityDetails?.directorActivityHash | manifest: 'activityIcon' | async"
                [alt]="instance?.activityDetails?.directorActivityHash | manifest: 'activityMode' | async"
              /><img
                mat-card-avatar
                *ngIf="entry.player.emblemHash | manifest: 'emblemHash' | async"
                [src]="entry.player.emblemHash | manifest: 'emblemHash' | async"
                [alt]="entry.player.destinyUserInfo.displayName"
              />
              <mat-card-title>{{ entry.player.destinyUserInfo.displayName }}</mat-card-title>
              <mat-card-subtitle *ngIf="instance?.activityDetails?.directorActivityHash | manifest: 'activityMode' | async">
                {{ instance?.activityDetails?.directorActivityHash | manifest: 'activityMode' | async
                }}<span
                  *ngIf="
                    (instance?.activityDetails?.directorActivityHash | manifest: 'activityMode' | async) !==
                    (instance?.activityDetails?.referenceId | manifest: 'activityName' | async)
                  "
                >
                  - {{ instance?.activityDetails?.referenceId | manifest: 'activityName' | async }}</span
                ></mat-card-subtitle
              >
            </mat-card-header>
            <div class="twitch-embed" mat-card-image>
              <img (click)="loadVideo(video, instance)" [src]="video | twitch: 'thumbnail'" />
              <iframe
                *ngIf="instance.watching && video.play"
                mat-card-image
                [src]="video | twitch: 'embedUrl'"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true"
              >
              </iframe>
            </div>
            <mat-card-content>
              <span class="twitchName">
                {{ video.user_name }}
              </span>
              <span class="matchType"
                ><mat-icon *ngIf="(video.matchType | async) === 'twitchDisplayName'">verified</mat-icon> {{ video.matchType | async }}</span
              >
              <p>{{ video?.title }}</p>
            </mat-card-content>
            <mat-card-actions>
              <a target="_blank" [href]="video.url + '?t=' + video.offset" mat-button>{{ video?.offset }}</a>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
