<div
  class="content mat-drawer-container"
  role="main"
  fxLayout="row wrap"
  gdColumns="repeat(auto-fill, minmax(500px, 1fr))"
  gdGap="10px"
  style="padding: 10px;"
>
  <!-- Highlight Card -->

  <!-- Resources -->

  <!-- Next Steps -->

  <input type="hidden" #selection />

  <div class="card-container">
    <div class="card card-small" (click)="loginBungie()" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>

      <span>Bungie Login</span>
    </div>

    <div class="card card-small" (click)="logoutBungie()" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>

      <span>Bungie Logout</span>
    </div>

    <div class="card card-small" (click)="loginTwitch()" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>

      <span>Twitch Login</span>
    </div>

    <div class="card card-small" (click)="logoutTwitch()" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>

      <span>Twitch Logout</span>
    </div>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Queues</mat-card-title>
      <mat-card-content>
        <div>
          <div>Bungie - auth - {{ authState.bungie }}</div>
          <div>Twitch - auth - {{ authState.twitch }}</div>
          <div>
            Bungie - getMembershipDataForCurrentUser -
            {{ queueCount.bungie.getMembershipDataForCurrentUser.completed + queueCount.bungie.getMembershipDataForCurrentUser.errors }} /
            {{ queueCount.bungie.getMembershipDataForCurrentUser.queued }}
            <mat-progress-bar
              mode="determinate"
              [value]="
                ((queueCount.bungie.getMembershipDataForCurrentUser.completed + queueCount.bungie.getMembershipDataForCurrentUser.errors) /
                  queueCount.bungie.getMembershipDataForCurrentUser.queued) *
                100
              "
            ></mat-progress-bar>
          </div>
          <div>
            Bungie - getLinkedProfiles - {{ queueCount.bungie.getLinkedProfiles.completed + queueCount.bungie.getLinkedProfiles.errors }} /
            {{ queueCount.bungie.getLinkedProfiles.queued }}
            <mat-progress-bar
              mode="determinate"
              [value]="
                ((queueCount.bungie.getLinkedProfiles.completed + queueCount.bungie.getLinkedProfiles.errors) /
                  queueCount.bungie.getLinkedProfiles.queued) *
                100
              "
            ></mat-progress-bar>
          </div>
          <div>
            Bungie - getProfile - {{ queueCount.bungie.getProfile.completed + queueCount.bungie.getProfile.errors }} /
            {{ queueCount.bungie.getProfile.queued }}
            <mat-progress-bar
              mode="determinate"
              [value]="
                ((queueCount.bungie.getProfile.completed + queueCount.bungie.getProfile.errors) / queueCount.bungie.getProfile.queued) * 100
              "
            ></mat-progress-bar>
          </div>
          <div>
            Bungie - getActivityHistory -
            {{ queueCount.bungie.getActivityHistory.completed + queueCount.bungie.getActivityHistory.errors }} /
            {{ queueCount.bungie.getActivityHistory.queued }}
            <mat-progress-bar
              mode="determinate"
              [value]="
                ((queueCount.bungie.getActivityHistory.completed + queueCount.bungie.getActivityHistory.errors) /
                  queueCount.bungie.getActivityHistory.queued) *
                100
              "
            ></mat-progress-bar>
          </div>
          <div>
            Bungie - getPostGameCarnageReport -
            {{ queueCount.bungie.getPostGameCarnageReport.completed + queueCount.bungie.getPostGameCarnageReport.errors }} /
            {{ queueCount.bungie.getPostGameCarnageReport.queued }}
            <mat-progress-bar
              mode="determinate"
              [value]="
                ((queueCount.bungie.getPostGameCarnageReport.completed + queueCount.bungie.getPostGameCarnageReport.errors) /
                  queueCount.bungie.getPostGameCarnageReport.queued) *
                100
              "
            ></mat-progress-bar>
          </div>
          <div>
            Twitch - getVideos - {{ queueCount.twitch.getVideos.completed + queueCount.twitch.getVideos.errors }} /
            {{ queueCount.twitch.getVideos.queued }}
            <mat-progress-bar
              mode="determinate"
              [value]="
                ((queueCount.twitch.getVideos.completed + queueCount.twitch.getVideos.errors) / queueCount.twitch.getVideos.queued) * 100
              "
            ></mat-progress-bar>
          </div>
          <div>
            Twitch - getUsers - {{ queueCount.twitch.getUsers.completed + queueCount.twitch.getUsers.errors }} /
            {{ queueCount.twitch.getUsers.queued }}
            <mat-progress-bar
              mode="determinate"
              [value]="
                ((queueCount.twitch.getUsers.completed + queueCount.twitch.getUsers.errors) / queueCount.twitch.getUsers.queued) * 100
              "
            ></mat-progress-bar>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-container *ngFor="let instance of state.instancesWithClips$ | async">
    <ng-container *ngIf="(instance.twitchClips | async)?.length">
      <ng-container *ngFor="let entry of instance?.entries">
        <ng-container *ngFor="let video of entry.twitchClips | async">
          <mat-card>
            <mat-card-header>
              <img
                mat-card-avatar
                [src]="instance?.activityDetails?.directorActivityHash | manifest: 'activityIcon' | async"
                [alt]="instance?.activityDetails?.directorActivityHash | manifest: 'activityMode' | async"
              />
              <mat-card-title>{{ instance?.activityDetails?.referenceId | manifest: 'activityName' | async }}</mat-card-title>
              <mat-card-subtitle>{{
                instance?.activityDetails?.directorActivityHash | manifest: 'activityMode' | async
              }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div>
                <img *ngIf="!video.play" mat-card-image [src]="video | twitch: 'thumbnail'" (click)="video.play = true" />
                <iframe
                  *ngIf="video.play"
                  mat-card-image
                  class="twitch-embed"
                  [src]="video | twitch: 'embedUrl'"
                  frameborder="0"
                  scrolling="no"
                  allowfullscreen="true"
                >
                </iframe>
                <span>{{ entry?.player?.destinyUserInfo?.displayName }} {{ video?.url }} {{ video?.offset }}</span>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
