.twitch-embed {
  position: relative;

  img {
    width: 100%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 16px;
    width: 100%;
    height: 100%;
  }
}

.twitchName {
  font-weight: 500;
  font-size: 20px;
}

.matchType {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);

  .mat-icon {
    font-size: 12px;
    width: 12px;
    height: 12px;
  }
}

.clickable {
  cursor: pointer;
}

.twitter-embed {
  padding: 0;
}

.logo-card {
  background-color: #000;
}

.mat-card-actions .mat-button,
.mat-card-actions .mat-raised-button,
.mat-card-actions .mat-stroked-button {
  margin: 0 0 8px 8px;
}

.mat-card-title {
  display: flex;
}

.badge {
  background: #b798c9;
  padding: 0.25em 0.3em 0.25em 0.25em;
  font-size: 0.5em;
  border-radius: 0.25em;
  height: 1em;
  line-height: 1em;
  margin: 0.25em 0.75em;
  text-shadow: 1px 1px #563467;
  cursor: default;
}

.xbox-embed {
  max-width: 100%;
}

.mat-card-image img {
  cursor: pointer;
}
