<div class="content mat-drawer-container" role="main" fxLayout="row wrap"
  gdColumns="repeat(auto-fill, minmax(350px, 1fr))" gdGap="10px" style="padding: 10px">
  <input type="hidden" #selection />
  <mat-card class="logo-card">
    <img mat-card-image src="../assets/logo.png" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>Login with both a Bungie and a Twitch account to make the magic happen.</p>
      <p>Link your Twitch account to your Bungie account if you want other Guardians to be able to find your VODs.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="loginBungie()" *ngIf="!authState.bungie">Bungie Login</button>
      <button mat-raised-button color="accent" (click)="logoutBungie()" *ngIf="authState.bungie">Bungie Logout</button>
      <button mat-raised-button color="primary" (click)="loginTwitch()" *ngIf="!authState.twitch">Twitch Login</button>
      <button mat-raised-button color="accent" (click)="logoutTwitch()" *ngIf="authState.twitch">Twitch Logout</button>
      <a mat-raised-button color="accent" href="https://www.bungie.net/LinkTwitch" target="_blank">Link Accounts</a>
      <a (click)="refresh()" mat-raised-button color="accent">Soft Refresh</a>
      <a (click)="reset()" mat-raised-button color="warn">Hard Reset</a>
      <a mat-raised-button color="accent" href="https://github.com/GuardianTheater/guardian-theater-indexeddb/issues"
        target="_blank">Issues</a>
      <a mat-raised-button color="accent" target="_blank" href="https://github.com/sponsors/chrisfried">Sponsor</a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div>
        <h2>{{ authState.bungie ? 'Bungie Queues' : 'Bungie Login Required'}} </h2>
        <div *ngIf="!authState.bungie">
          Please login with your Bungie account to retrieve 60 days of your Destiny 2 Activity History.
        </div>
        <div *ngIf="authState.bungie">
          Retrieving your Bungie profile -
          {{ queueCount.bungie.getMembershipDataForCurrentUser.completed +
          queueCount.bungie.getMembershipDataForCurrentUser.errors }} /
          {{ queueCount.bungie.getMembershipDataForCurrentUser.queued }}
          <mat-progress-bar mode="determinate" [value]="queueCount.bungie.getMembershipDataForCurrentUser.percentage"
            [color]="authState.bungie ? queueCount.bungie.getMembershipDataForCurrentUser.color : 'warn'">
          </mat-progress-bar>
        </div>
        <div *ngIf="authState.bungie">
          Retrieving your Destiny profiles - {{ queueCount.bungie.getProfile.completed +
          queueCount.bungie.getProfile.errors }} /
          {{ queueCount.bungie.getProfile.queued }}
          <mat-progress-bar mode="determinate" [value]="queueCount.bungie.getProfile.percentage"
            [color]="authState.bungie ? queueCount.bungie.getProfile.color : 'warn'"></mat-progress-bar>
        </div>
        <div *ngIf="authState.bungie">
          Retrieving 60 days of Activity History -
          {{ queueCount.bungie.getActivityHistory.completed + queueCount.bungie.getActivityHistory.errors }} /
          {{ queueCount.bungie.getActivityHistory.queued }}
          <mat-progress-bar mode="determinate" [value]="queueCount.bungie.getActivityHistory.percentage"
            [color]="authState.bungie ? queueCount.bungie.getActivityHistory.color : 'warn'"></mat-progress-bar>
        </div>
        <div *ngIf="authState.bungie">
          Retrieving PGCRs -
          {{ queueCount.bungie.getPostGameCarnageReport.completed + queueCount.bungie.getPostGameCarnageReport.errors }}
          /
          {{ queueCount.bungie.getPostGameCarnageReport.queued }}
          <mat-progress-bar mode="determinate" [value]="queueCount.bungie.getPostGameCarnageReport.percentage"
            [color]="authState.bungie ? queueCount.bungie.getPostGameCarnageReport.color : 'warn'"></mat-progress-bar>
        </div>
        <div *ngIf="authState.bungie">
          Retrieving linked Twitch IDs -
          {{ queueCount.bungie.getMembershipDataById.completed + queueCount.bungie.getMembershipDataById.errors }} /
          {{ queueCount.bungie.getMembershipDataById.queued }}
          <mat-progress-bar mode="determinate" [value]="queueCount.bungie.getMembershipDataById.percentage"
            [color]="authState.bungie ? queueCount.bungie.getMembershipDataById.color : 'warn'"></mat-progress-bar>
        </div>
      </div>
      <br />
      <div>
        <h2>{{ authState.twitch ? 'Twitch Queues' : 'Twitch Login Required'}}</h2>
        <div *ngIf="!authState.twitch">
          Please login with your Twitch account to begin searching for Twitch VODs.
        </div>
        <div *ngIf="authState.twitch">
          Retrieving Twitch accounts - {{ queueCount.twitch.getUsers.completed + queueCount.twitch.getUsers.errors
          }} /
          {{ queueCount.twitch.getUsers.queued }}
          <mat-progress-bar mode="determinate" [value]="queueCount.twitch.getUsers.percentage"
            [color]="authState.twitch ? queueCount.twitch.getUsers.color : 'warn'"></mat-progress-bar>
        </div>
        <div *ngIf="authState.twitch">
          Retrieving VOD lists - {{ queueCount.twitch.getVideos.completed + queueCount.twitch.getVideos.errors }} /
          {{ queueCount.twitch.getVideos.queued }}
          <mat-progress-bar mode="determinate" [value]="queueCount.twitch.getVideos.percentage"
            [color]="authState.twitch ? queueCount.twitch.getVideos.color : 'warn'"></mat-progress-bar>
        </div>
      </div>
      <br />
      <h2
        *ngIf="authState.bungie && authState.twitch && (queueCount.twitch.getVideos.percentage === 0 || queueCount.twitch.getVideos.percentage === 100) && (queueCount.twitch.getUsers.percentage === 0 || queueCount.twitch.getUsers.percentage === 100) && (queueCount.bungie.getMembershipDataById.percentage === 0 || queueCount.bungie.getMembershipDataById.percentage === 100) && (queueCount.bungie.getPostGameCarnageReport.percentage === 0 || queueCount.bungie.getPostGameCarnageReport.percentage === 100) && (queueCount.bungie.getActivityHistory.percentage === 0 || queueCount.bungie.getActivityHistory.percentage === 100) && (queueCount.bungie.getProfile.percentage === 0 || queueCount.bungie.getProfile.percentage === 100) && (queueCount.bungie.getMembershipDataForCurrentUser.percentage === 0 || queueCount.bungie.getMembershipDataForCurrentUser.percentage === 100)">
        {{ clipCount }} videos found {{ clipCount ? '🥳' : '😞' }}</h2>
      <h2
        *ngIf="authState.bungie && authState.twitch && ((queueCount.twitch.getVideos.percentage > 0 && queueCount.twitch.getVideos.percentage < 100) || (queueCount.twitch.getUsers.percentage > 0 && queueCount.twitch.getUsers.percentage < 100) || (queueCount.bungie.getMembershipDataById.percentage > 0 && queueCount.bungie.getMembershipDataById.percentage < 100) || (queueCount.bungie.getPostGameCarnageReport.percentage > 0 && queueCount.bungie.getPostGameCarnageReport.percentage < 100) || (queueCount.bungie.getActivityHistory.percentage > 0 && queueCount.bungie.getActivityHistory.percentage < 100) || (queueCount.bungie.getProfile.percentage > 0 && queueCount.bungie.getProfile.percentage < 100) || (queueCount.bungie.getMembershipDataForCurrentUser.percentage > 0 && queueCount.bungie.getMembershipDataForCurrentUser.percentage < 100))">
        Searching for videos...</h2>
      <div>
        Data is cached in your browser to improve load times when you revisit the site. You can use the Hard Reset
        button to clear the cache if you feel so inclined.
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="hiddenVids.size > 0">
    <h2>Hidden Streams</h2>
    <button *ngFor="let id of hiddenVids" (click)="showVideos(id)" mat-button>Show {{hiddenNames[id]}}</button>
  </mat-card>
  <ng-container *ngFor="let instance of instances">
    <ng-container *ngIf="(instance.twitchClips | async)?.length">
      <ng-container *ngFor="let entry of instance?.entries">
        <ng-container *ngFor="let video of entry.twitchClips | async">
          <mat-card *ngIf="!hiddenVids.has(entry.player.destinyUserInfo.membershipId + video.user_id)">
            <mat-card-header>
              <!-- <img
                mat-card-avatar
                class="activityIcon"
                *ngIf="instance?.activityDetails?.directorActivityHash | manifest: 'activityIcon' | async"
                [src]="instance?.activityDetails?.directorActivityHash | manifest: 'activityIcon' | async"
                [alt]="instance?.activityDetails?.directorActivityHash | manifest: 'activityMode' | async"
              /> --><img *ngIf="entry.player.emblemHash | manifest: 'emblemHash' | async"
                (click)="linkToBungieProfile(entry.player)" mat-card-avatar class="emblem clickable"
                [src]="entry.player.emblemHash | manifest: 'emblemHash' | async"
                [alt]="entry.player.destinyUserInfo.displayName" />
              <mat-card-title class="clickable" (click)="linkToBungieProfile(entry.player)">{{
                entry.player.destinyUserInfo.displayName
                }}</mat-card-title>
              <mat-card-subtitle
                *ngIf="instance?.activityDetails?.directorActivityHash | manifest: 'activityMode' | async"
                (click)="linkToBungieActivity(instance, entry)" class="clickable">
                {{ instance?.activityDetails?.directorActivityHash | manifest: 'activityMode' | async
                }}<span *ngIf="
                    (instance?.activityDetails?.directorActivityHash | manifest: 'activityMode' | async) !==
                    (instance?.activityDetails?.referenceId | manifest: 'activityName' | async)
                  ">
                  - {{ instance?.activityDetails?.referenceId | manifest: 'activityName' | async }} - {{
                  instance?.period | date : 'short' }}</span>
              </mat-card-subtitle>
            </mat-card-header>
            <div class="twitch-embed" mat-card-image>
              <img (click)="loadVideo(video, instance)" [src]="video | twitch: 'thumbnail'" />
              <iframe *ngIf="instance.watching && video.play" mat-card-image [src]="video | twitch: 'embedUrl'"
                frameborder="0" scrolling="no" allowfullscreen="true">
              </iframe>
            </div>
            <mat-card-header>
              <img (click)="linkToTwitchProfile(video)" mat-card-avatar class="twitchProfileImage clickable"
                *ngIf="video.twitchProfileImage" [src]="video.twitchProfileImage" [alt]="video.user_name" />
              <mat-card-title class="clickable" (click)="linkToTwitchProfile(video)">
                {{ video.user_name }}
              </mat-card-title>
              <!-- <span class="matchType"
                ><mat-icon *ngIf="(video.matchType | async) === 'twitchDisplayName'">verified</mat-icon> {{ video.matchType | async }}</span
              > -->
              <mat-card-subtitle class="clickable" (click)="linkToTwitchVideo(video)">{{ video?.title }}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button (click)="linkToTwitchVideo(video)" mat-button>{{ video?.offset }}</button>
              <button (click)="hideVideos(entry, video)" mat-button>Hide {{video.user_name}}</button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <mat-card class="twitter-embed">
    <mat-card-content>
      <a class="twitter-timeline" data-height="500" data-theme="dark"
        href="https://twitter.com/guardtheater?ref_src=twsrc%5Etfw">Tweets by guardtheater</a>
    </mat-card-content>
  </mat-card>
</div>